.not-logged {
    min-height: 100vh;
    background-color: $body-bg;
    background-image: url('/images/bg-login.jpg');
    background-position: center;
    background-size: cover;
    .box-login {
        border-radius: 32px;
        background-color: rgba($color: #FFF, $alpha: .8);
        > h1 {
            text-align: center;
            margin-bottom: 20px;
        }            

    }
}