.btn{
    border-radius: 16px;
    &-login {
        border-radius: 16px;
        line-height: 32px;
        padding: 0 25px;
        background-color: #FFF;
        border: none;
        color: $text-color;
        min-width: 150px;
        display: inline-block;
        border: 1px solid lighten($text-color, 50%);
        border-bottom: 2px solid $text-color;
    }
    &.not-label {
        margin-top: 22px;
    }
}